

/* -------------------DEFAULTS------------------- */
body
{
	background-color: hsla(120,85%,90%,1);
	padding: 0px;
	margin: 0px;
	font-family: georgia;
	font-weight: 900;
	
	
}
ul
{
	list-style: none;
	padding-left: 10px;
	white-space: nowrap;
	padding-right: 20px;
	

}
a
{
	text-decoration: none;
	
	color: rgba(218,67,0,1);
	background-color: rgba(45,146,255,1);
}

/*rgba(45,146,255,1) blue*/
/*rgba(218,67,0,1) rust*/
/*rgba(116,66,0,1) brown*/
/*hsla(54,85%,90%,1);  cream */


/*LOCATION*/
/*SIZE*/
/*SHAPE*/
/*COLORING*/


header
{
	text-align: center;
	font-size: 77px;
	margin: 42px;
}



#musicContainer
{
	
	
	background-color: lightgray;
	width: 1200px;
	height: 580px;
	border: 15px solid black;
	margin-bottom: 100px;
	
	margin: 50px;
}


.measure
{
	position: relative;
	background-color: white;
	width: 300px;
	height: 100%;
	border-right: 10px solid black;

	display: inline-block;
	
	z-index: 1;
	
}

.octave
{
	position: relative;

	width: 100%;
	height: 117px;
	border-bottom: 3px solid black;

	display: block;
	
	z-index: 2;
}



.oct4 { background-color: hsla(0, 100%, 90%, 1); }
.oct3 { background-color: hsla(0, 100%, 80%, 1); }
.oct2 { background-color: hsla(0, 100%, 70%, 1); }
.oct1 { background-color: hsla(0, 100%, 60%, 1); }



.space
{
	position: relative;

	width: 100%;
	height: 9px;
	border-bottom: 1px solid black;

	display: block;
	
	cursor: pointer;
	
	z-index: 10;
}




.measureController
{
	position: relative;

	width: 100%;
	height: 100px;
	border-bottom: 3px solid black;

	display: block;
	
	cursor: pointer;
	
	background-color: white;
}






#buttonContainer
{
	
	background-color: lightgray;
	width: 1200px;
	

	border: 15px solid black;
	margin-bottom: 100px;
	
	margin: 50px;

}


.buttonCollection
{
	background-color: hsla(180,65%,70%,1);
	width: auto;

	border: 15px solid black;
	margin-bottom: 100px;
	
	margin: 50px;
}



.buttons
{
	background-color: gray;
	cursor: pointer;
	display: inline-block;
	
	font-size: 44px;
	color: black;
	border: 5px solid black;
	margin: 10px;
	padding: 5px;
}


p
{
	margin-left: 33px;
}



#freq, #sec
{
	background-color: lightgray;
	cursor: auto;
}















